<!DOCTYPE html>
<head> 
  <meta charset="utf-8">
<title>ComposantThumbnails</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../public/style/stylee3.css"/>
</head>
<body>
  <%-include ('./partials/testnav') %>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../public/img/wac.jpg">
        <div class="caption">
          <h3>  &#160;&#160;  Wydad Casablanca ⚽</h3>
          <div class="alert alert-primary" role="alert">
           
            Fondés en (8 Mai 1937)</br>
           
            
          
       
            Championnat du Maroc (20)</br>
            Coupe du Maroc (9)</br>
            International1	CAF Ligue des Champions (2)</br>
            CAF Coupe des Coupes (1)</br>
            Supercoupe de la CAF (1)</br>
            Coupe Afro-Asiatique (1)</br>
            Championnat arabe des clubs (1)</br>
            Supercoupe arabe (1)</br>
            Coupe Mohammed V (1)</br>
            Coupe d'Afrique du Nord de football(1)</br>
            Championnat d'Afrique du Nord de football(3)
            
            
            
            
          </div>
          <p>&#160;&#160;<a href="https://en.wikipedia.org/wiki/Wydad_AC" class="btn btn-primary" role="button">biographie</a> <a href="https://i.ytimg.com/vi/y11dxE7qIUY/maxresdefault.jpg" class="btn btn-default" role="button">Le Stade</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"></br></br>
        <img src="../public/img/impact.png">
        <div class="caption"></br></br>
          <h3>L'impact de Montréal ⚽</h3>
          <div class="alert alert-secondary" role="alert">
            Fondés en (1 Janvier 2010)</br>
            the Canadian Championship (3).
          </div>
          <p><a href="https://en.wikipedia.org/wiki/Montreal_Impact" class="btn btn-primary" role="button">biographie</a> <a href="https://postmediamontrealgazette2.files.wordpress.com/2019/12/1123-spt-col-cowan-3370.jpg" class="btn btn-default" role="button">Le Stade</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"></br></br>
        <img src="../public/img/mtl.png">
        <div class="caption"></br></br>
          <h3>Canadiens de Montréal 🏒</h3>
          <div class="alert alert-success" role="alert">
            Fondés en (4 décembre 1909)</br>
            Stanley Cups	(24) </br>
            Conference championships	(8) </br>
            Division championships	(24)
          </div>
          <p><a href="https://en.wikipedia.org/wiki/Montreal_Canadiens" class="btn btn-primary" role="button">biographie</a> <a href="https://stadiumjourney.com/wp-content/uploads/2016/11/Game-Action.jpg" class="btn btn-default" role="button">Le Stade</a></p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	 

</body>
</html>