<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>PageGames</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../public/style/style2.css"/>
</head>
<body>
  <%-include ('./partials/testnav') %>
<ol>
<br/>
<br/>
 <img id="lampp" src="../public/img/lamp.gif">
  
<h3 id="k"> &#128521; Test your Luck ! &#128521;  </h3>
<input id="myInput" type="text">
<button id="key">Show the deal</button>
<p id="demo"></p>

<h2 id="cssss"><li>The Pirate Room </li></h2>

   <h5> - 27$/h per person -</h5> 
   <div class="a">

<p>En Bas</a> You've snuck into the captain's quarters while the pirates are away. Solve the clues to collect all the pieces of the treasure map and escape 
before the pirates return and catch you !
 </p></div>
 <br/>
 <div id="JQ">
  <h5>- Mouseenter et Hide  </h5>
  <h6> L'image "The Pirate Room" va disparaitre quand vous glisser le cursure <big  id="idmouseenter" >ICI </big></h6>
  </div>  
    <img id="mouseentereffect" src="../public/img/pirate.jpg" width=35% height=180%>
<br/>
<br/>
<br/>
  <h2 id="csss"><li>The Alchemist </li> </h2>
   <h5> - 30$/h per person - </h5> 
  <div class="b">
    
<p align="center"> Inside a medieval alchemists mysterious laboratory, you must find and unite
 the four elements of earth air, fire and water and escape before the alchemist returns ! </p></div>
 <br/>
 <div id="JQ">
  <h5>- Hover et Show  </h5>
  <h6> Une image "Alchemist" va apparaitre quand vous glisser le cursure <big id="idhover">ICI</big></h6>
  </div> 
 <img id="hoverefect" src="../public/img/alchemist.jpg" width=35% height=180%>
 <br/>
 <br/> 
  <h2><li>Cellule Tazmamart<div id="c"></li> </div></h2>
  <h5> - Free entrance -</h5>
<div class="c"><div class="btn-group">
    <button id="en" onclick="toenglish();">English</button>
      <button id="fr" onclick="tofrench();">French</button></div>
<p align="center"> <p id="ppp">Inside a medieval alchemists mysterious laboratory, you must find and unite
 the four elements of earth air, fire and water and escape before the alchemist returns ! </p></div>
  <br/>
  <div id="JQ">
    <h5>- FadeOut et FadeIn  </h5>
    <h6> L'image "Tazmamart" fadeout et FadeIn a l'aide des Buttons</h6>
    <div class="btn-group">
      <button class="btn1">FadeOut</button>
      <button class="btn2">FadeIn</button>
    </div>

  </div>   
  <img id="fadeouteffect" src="../public/img/tazmamart.jpg" width=35% height=180%>
  <br/>
  <br/>
  <h2 id="css" ><li> The Witch's Cauldron </li></h2>
  <h5>- 20$/h per person - </h5>
   
  </li>
</ul> </div>

<div class="d">

<p align="center"> The witch has visited the bedroom ,<a href="https://www.60out.com">Vers Site externe</a> bathroom, sitting room, kitchen, garden, and street. 
The state of confusion she has left behind is shown on the six collecting (scene) boards. 
The aim of the game is to collect the nine small cards which will restore order to each scene. </p></div>
  <br/>
  <div id="JQ">
    <h5>- dblclick et FadeToggle  </h5>
    <h6> L'image "Witch" "FadeToggle" en 1.5 sec quand vous double cliquez <big  id="idfadetoggle" >ICI </big></h6>
    </div>   
  <img id="iddfadetoggle" src="../public/img/witch.jpg" width=35% height=180%>
  <br/>
  <br/>
    <h2><li>Brainscape</li></h2>	
  <h5> - 15$/h per person -</h5>
  <div id="JQ">
   
    </div>  
	<div class="e">
    
<p align="center"> Brainscape Games is a fun, exciting and mentally , stimulating Live Escape Game experience in Dubai. Locked in a room,
 where your only tools to escape are your team mates and your brains! </p></div>

	<br/>
	<img src="../public/img/brainescape.jpg" width=35% height=180%>
	<br/>
	<br/>
	  <h2><li>Zombie escape</li> </h2>
	  <h5> - 25$/h per person - </h5>
    
<p>Element non vus (Mouse coordinations ): <span></span>.</p>
    <nav>
<a href="/html/">Laval</a> |
<a href="/css/">Montreal</a> |
<a href="/js/">Saint-Jerome</a> |
<a href="/jquery/">Saint-Eustache</a>
</nav>

<div class="f">
    
<p align="center"> 
These undead creatures have been lurking around for ages, looking to take over our living world. For whatever reason, 
zombies have continued to have a hold on our imaginations be it the symbolism of rotten culture, mind-numbing conformism,
 or just a love of zombie gore. Either way, I think we can all agree, zombies are awesome.</p></div></br> </div>
 <img src="../public/img/run.jpg" width=35% height=180%>
</ol>
</body>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	 
<script src="../public/JS-JQuery/script.js"></script>
<script src="../public/JS-JQuery/JQ.js"></script>
<script src="../public/JS-JQuery/JQueryCompressedLibrary.js"></script>
</body>
</html>